.title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

.search {
    margin: 10px 0;
}
.controlBtn{
    margin-bottom: 10px;
}
.ant-card .ant-card-body{
    padding: 0;
}
.search .searchBtn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.fControlBtn {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer{
    display: flex;
    justify-content: center;
}